#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------
CI_ENVIRONMENT = development
#CI_ENVIRONMENT = production

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------
app.indexPage = ''
app.baseURL   = 'http://localhost:1234'
app.siteURL   = 'http://localhost:1234'
app.checkURL  = false

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------
database.default.hostname = 127.0.0.1
database.default.database = inlislite_core
database.default.username = root
database.default.password = P@ssw0rd
database.default.DBDriver = MySQLi
database.default.port	  = 3306

database.default_sl.hostname = 127.0.0.1
database.default_sl.database = inlislite_core
database.default_sl.username = root
database.default_sl.password = P@ssw0rd
database.default_sl.DBDriver = MySQLi
database.default_sl.port	  = 3306

database.backend.hostname = 127.0.0.1
database.backend.database = inlislite_backend
database.backend.username = root
database.backend.password = P@ssw0rd
database.backend.DBDriver = MySQLi
database.backend.port     = 3306

database.backensl.hostname = 127.0.0.1
database.backensl.database = inlislite_backend
database.backensl.username = root
database.backensl.password = P@ssw0rd
database.backensl.DBDriver = MySQLi
database.backensl.port     = 3306

database.data.hostname    = 127.0.0.1
database.data.database    = inlislite_data
database.data.username    = root
database.data.password    = P@ssw0rd
database.data.DBDriver    = MySQLi
database.data.port        = 3306

database.data_sl.hostname    = 127.0.0.1
database.data_sl.database    = inlislite_data
database.data_sl.username    = root
database.data_sl.password    = P@ssw0rd
database.data_sl.DBDriver    = MySQLi
database.data_sl.port        = 3306

#--------------------------------------------------------------------
# INLISLite
#--------------------------------------------------------------------
encryption.key 			  = INLISLITE-PERPUSNAS-RI
security.TOKEN_SECRET 	  = cskhfuwt48wbfjn3i4utnjf38754hf3yfbjc93758thrjsnf83hcwn8437
security.TOKEN_IAT   	  = 10
security.TOKEN_NBF    	  = 60
security.TOKEN_EXP    	  = 3600
security.TOKEN_ALG    	  = 'HS256'

API_AUTH              	  = 'http://localhost:8001/api/auth'
API_BRANCH            	  = 'http://localhost:8002/api/branch'
API_CATALOG           	  = 'http://localhost:8003/api/catalog'
API_REGION            	  = 'http://localhost:8004/api/region'
API_USER              	  = 'http://localhost:8005/api/user'


